{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wish list</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <h1>Wish List</h1>
    {% if items|length == 0 %}
        <h3>No Wish Items Exist</h3>
    {% else %}
        <table class="pure-table pure-table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Delete</th>
                </tr>
            </thead>
            {% for wish in wishs %}
                <tr>
                    <th>{{wish.description}}</th>
                    <th><a href="{% url 'wishs_delete' wish.id %}">X</a></th>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <hr>
        <input type="submit" value="Add a Wish Item">
        </form>
</body>
</html>